<div id="bulk_glossary_display" style="display: none;">
    <select name="value[display]" class="colorInput">
        {display_select}
    </select>
</div>  

<div id="bulk_glossary_case" style="display: none;">
    <select name="value[case]" class="colorInput">
        {case_select}
    </select>
</div>  

<div id="bulk_status" style="display: none;">
    <select name="value[status]" class="colorInput">
        {status_select}
    </select>
</div>  

<div id="bulk_delete" style="display: none;"></div>