{user_msg}


<fieldset><legend><b>{user_data_msg}:</b></legend>
<table class="sTable tableCp3 tableCs1">
<tr>
    <td class="tdFormCaption required">{first_name_msg}:</td>
    <td><input name="first_name" type="text" id="first_name" value="{first_name}" class="normalText"></td>
</tr>
<tr>
    <td class="tdFormCaption required">{last_name_msg}:</td>
    <td><input name="last_name" type="text" id="last_name" value="{last_name}" class="normalText"></td>
</tr>
<tr>
    <td class="tdFormCaption required">{email_msg}:</td>
    <td><input name="email" type="text" id="email" value="{email}" class="normalText"></td>
</tr>
<tr>
    <td class="tdFormCaption required">{username_msg}:</td>
    <td><input name="username" type="text" id="username" value="{username}" class="normalText"></td>
</tr>

<!-- 
<tr>
    <td class="tdFormCaption required">{password_msg}:</td>
    <td><input type="password" name="password" id="password" value="{password}" class="normalText"></td>
</tr>
<tr> 
    <td class="tdFormCaption required">{password2_msg}:</td>
    <td><input type="password" name="password_2" id="password_2" value="{password_2}" class="normalText"></td>
</tr> 
-->

</table>
</fieldset>