/key.php
/_dev
/*.txt
#/admin/config.inc.php
/admin/config_local.inc.php
/admin/cron/_test*.php
/plugins/*
!/plugins/plugins.php
!/plugins/community.php
/admin/lang/*
!/admin/lang/??
!/admin/lang/CompareLang.php
error_log
*.log
*.zip
.DS_Store
.ea-php-cli.cache
#/admin/lib/vendor
#/admin/lib/composer.lock
