<script>
    $(document).ready(function() {
        PopupManager.setTitle("{popup_title}");
    });
</script>

{error_msg}

{hint_msg} <br />

<form action="{action_link}" method="post" id="aContentForm2" 
    onsubmit="LeaveScreenMsg.skipCheck();">
{hidden_fields}

<div style="margin-bottom: 5px;">
    <b>{popup_title}:</b>
</div>
<table class="formTable">
<tr>
    <td colspan="2" class="tdTitle" style="padding: 1px;"></td>
</tr>

<tr class="trLighter">
    <td class="tdFormCaption">{min_lcase}:</td>
    <td>
        <input type="text" name="rule[lcase]" value="{lcase}" />
    </td>
</tr>
<tr class="trLighter">
    <td class="tdFormCaption">{min_ucase}:</td>
    <td>
        <input type="text" name="rule[ucase]" value="{ucase}" />
    </td>
</tr>
<tr class="trLighter">
    <td class="tdFormCaption">{min_number}:</td>
    <td>
        <input type="text" name="rule[number]" value="{number}" />
    </td>
</tr>
<tr class="trLighter">
    <td class="tdFormCaption">{min_special}:</td>
    <td>
        <input type="text" name="rule[special]" value="{special}" />  {min_special_tooltip}
    </td>
</tr>
<tr class="trLighter">
    <td class="tdFormCaption required">{min_length}:</td>
    <td>
        <input type="text" name="rule[length]" value="{length}" />
    </td>
</tr>
</table>


<br /><br />
<div style="margin-bottom: 5px;">
    <b>{error_title}:</b>
</div>
<table class="formTable">
<tr>
    <td class="tdTitle" style="padding: 1px;"></td>
</tr>
<tr class="trLighter">
    <td>
        <input type="text" name="rule[error]" value="{error}" style="width: 100%; padding:3px;"/>
    </td>
</tr>
</table>

<br />
<div class="bottom_button bb_popup">
    <input type="submit" name="submit" value="{save_msg}" class="button">
    <input type="submit" name="set_default" id="default_submit" value="{defaults_msg}" 
        class="button secondary"
        onClick="confirmForm('{sure_default_msg}', 'default_submit'); return false;" />
    
    <span style="margin-left: 25px;">    
        <input type="button" name="cancel" value="{close_msg}" class="button" 
            onClick="PopupManager.close();">
    </span>
</div>

</form>