<link rel="stylesheet" href="{base_href}client/skin/jquery/tooltipster/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-kbp_title.css?v={pvhash}">
<!-- <link rel="stylesheet" href="{base_href}client/skin/foundation.css?v={pvhash}" />
<script>
$(document).ready(function() {
    PopupManager.setTitle("{action_title}");

    <tmpl:close_window>
    PopupManager.reload_parent = true;
    PopupManager.close();
    </tmpl:close_window>
});
</script> -->

{hint}

{error_msg}

<div class="account_title">
    {action_title}
</div>

<form action="{action_link}" method="post" id="aContentForm"
    onsubmit="LeaveScreenMsg.skipCheck();" autocomplete="off">
<input type="hidden" name="id" id="id" value="{id}" />
{hidden_fields}

<div class="niceForm table">
    <div class="formTopDelim"></div>
    
    <tmpl:old_password>
    <div class="grid-x">
        <div class="medium-3 small-12 cell">
            <label for="password_old" class="required">{password_current_msg}:</label>
        </div>
        <div class="medium-9 small-12 cell">
            <input type="password" name="password_old" id="password_old" class="longText">
        </div>
    </div>
    </tmpl:old_password>
    
    <div class="grid-x">
        <div class="medium-3 small-12 cell">
            <label for="password" class="required">{password_msg}:</label>
        </div>
        <div class="medium-9 small-12 cell">
            <input type="password" name="password" id="password" class="longText" style="margin-bottom: 5px;" />
            
            <span style="white-space: nowrap;">
                {generate_pass_block}
            </span>
        </div>
    </div>
    
    <div class="grid-x">
        <div class="medium-3 small-12 cell">
            <label for="password_2" class="required">{password_repeat_msg}:</label>
        </div>
        <div class="medium-9 small-12 cell">
            <input type="password" name="password_2" id="password_2" class="longText" />
        </div>
    </div>
    
    <div class="grid-x skip">
        <div class="medium-3 small-12 cell"></div>
        <div class="medium-9 small-12 cell">
            <div><br /></div>
            <button type="submit" name="submit" id="submit_password" 
                class="button primary"
                onClick="validateForm();return false;">
                {save_msg}
            </button>
            
            <tmpl:cancel_btn>
            <input type="button" value="{cancel_msg}" class="button" 
                onClick="LeaveScreenMsg.skipCheck(); location.href='{cancel_link}'" />
            </tmpl:cancel_btn>
        </div>
    </div>
</div>

</form>